[Adblock Plus 2.0]
! Last modified: %timestamp%
!---------------------- advert blocking filters ----------------------!
%include abpindo:src/advert/adservers.txt%
%include abpindo:src/advert/thirdparty.txt%
!--------------------------- annoyances ------------------------------!
%include abpindo:src/annoyances/annoyance_thirdparty.txt%
%include abpindo:src/annoyances/annoyance_prank.txt%
